h1 {
  font-family: 'Permanent Marker';
  text-align: center;
  color: gray;
}
h2{
  font-family: 'Permanent Marker', monospace;
  text-align: center;
  color: black;
}
li {
    display: inline;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5B5B5A;
  box-shadow: 1px 2px 6px grey;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: lightblue;
}
h3 {
  font-family: helvetica, arial, sans-serif;
  text-align: left;
  color: gray;
}
span {
  font-family: helvetica, arial, sans-serif;
  font-size: 11pt;
  color: gray;
}
.myphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: thick;
  border-color: lightblue;
}
body {
  width: 640px;
  margin: 0 auto;
  font-family: helvetica, arial, sans-serif;
  color: black;
  font-size: 11pt;
  padding: 14px 16px;
}

p {
  font-family: helvetica, arial, sans-serif;
  color: black;
  font-size: 11pt;
  font-style: normal;
  border-left-style: solid;
  border-width: thick;
  border-color: lightblue;
  padding: 14px 16px;
}

footer {
  font-family: helvetica, arial, sans-serif;
  color: white;
  font-weight: bold;
  background: lightgray;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}
.preview {
  padding: 10px 10px;
  margin: 0 auto;
  object-position: center;
  display:inline-block;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
  display:inline-block;
}
